/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color:green
}

/* Comentário 1 */
/* Comentário 2 */
/* Comentário 3 */

/* Classes */
.paragraph {
    background-color: #000;
    color:aqua;
    padding: 5px;
}

/* IDs */
#Exclusive-Title {
  background-color: purple;
  color: yellow;
  padding: 10px;
  font-size: 40px;
}

/* Ordem das Regras */
h2 {
 border-bottom: 2px solid red;   
}

.titulo {
 border-bottom: 3px solid blue;   
}

#algum-título {
 border-bottom: 4px solid green;
}

/* Nome de Cores */
.color-name {
    color: rgb(214, 94, 230);
}

/* Hex */
.hex {
    color: #D65EE6;
}

.hex-2 {
    color: #d77faa;
}

/* Aprofundando em hex */
.simple-hex {
    color: #333;
}

.simple-hex-2 {
    color: #abc;
}

/* RGB */
.rgb {
    color: rgb(0, 0, 0);
}

.mixed-rgb {
    color: rgb(255, 0, 0);
}

.rgba {
    color: rgba(255, 0, 0, 0.2);
}

.mixed-rgba {
    color: rgba(200, 0, 0, 0.5)
}

.hsl {
    color: hsl(200, 0%, 50%)
}    

.mixed-hsl {
    color: hsl(100,59%,40%)
}

/* 17 - Background-color */
.bg {
    background-color: lightblue;
    color: white
}

.bg-2 {
    background-color: #d77faa;
    color: rgb(65, 151, 250);
}

/* 18 - Background Opacity */
.opacity-bg  {
    color: rgb(136, 252, 60);
    background-color: rgb(137, 137, 255);
    opacity: 0.6;
}

.opacity-bg2 {
    background-color:rgb(119, 248, 248);
    color: #000000;
    opacity: 0.2;
}

/* RGBA com Opacidade */
.rgba-opacity {
    background-color: rgba(255, 0, 0, 0.5);
    color: #7c1212;
   
}

/* 20 - Bg Image */
.bg-image {
    background-image: url("../img/nature.jpg");
    padding: 10px;
    color: #fff;
}

/* 21 - Centralizando Bg Image  */
.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url(../img/bridge.jpg);
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* Height e Width */
.height-width {
    height: 200px;
    width: 100px;
    background-color: lightcoral;
}

.height-width-2 {
    height: 300px;
    background-color: #333;
}

.without-padding,
.padding {
    background-color: #111;
    color: #fff;
}

.padding {
    background-color: #333;
    padding: 20px;
}

/* Padding Individual */
.padding-individual {
    background-color: #111;
    color: #fff;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 40px;
    padding-top: 5px;
}

/* Shorthand Padding */
.shorthand-padding {
    background-color: red;
    padding: 6px 12px 18px 24px;
}

.shorthand-padding-2 {
    background-color: #444;
    padding: 10px 20px;
    /* 10px 20px 10px 20px */
}

/* 26 - Padding com Width */
.without-border-box {
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
}

.border-box {
    background-color: #666;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}
 
/* 27 - Border */
.border {
    border: 5px solid red;
    padding: 10px;
}

.border-2 {
    border: 2px dotted #931;
    padding: 25px;
}

/* Border Individual */
.border-left {
    border-left: 3px solid red;
    background-color: #222;
    padding: 25px;
}

.border-bottom {
    border-bottom: 5px double #399;
    background-color: #222;
    padding: 20px;
}

/* 29 - Borda Arredondada */
.rounded-p {
        border: 4px solid blue;
        background-color: #000;
        color: blue;
        padding: 15px;
        border-radius: 15px;
}

.rounded-p-2 {
        border: 4px solid blue;
        background-color: #000;
        color: blue;
        padding: 15px;
        border-radius: 25px;
}
/* Margem */

.margin {
 margin: 10px;
 background-color: #222;
}

.margin-top {
 margin-top:50px;
 background-color: #444;
 padding: 10px;
}

.margin-shorthand {
background-color: #555;
margin: 5px 10px 15px 20px;
}

/* Box Model */
.box-model {
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid #7c1212;
    border-radius: 7px;
    width: 200px;
    height: 400px;
}

/* Desafio 3 */
#box-model-challenge {
  margin: 15px;
  padding: 15px;
  border: 5px solid #459;
  outline: 5px solid #952;
  background-color: #123;
}

.challenge-title {
  background-color: #000;
  color: #fff;
  border: none;
}

/*Text Align */
.text-aligned {
    text-align: right;
}

.container-center{
    text-align: center;
    width: 300px;
    border: 1px solid red;
}

/* Text Decoration */
.underline {
    text-decoration: underline;
}

.line-trough {
    text-decoration: line-through;
}

.remove-underline {
    text-decoration: none;
    color:red;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}
