/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color:green
}

p {
    color:blueviolet;
}
/* Comentário 1 */
/* Comentário 2 */
/* Comentário 3 */

/* Classes */
.paragraph {
    background-color: #000;
    color:aqua;
    padding: 5px;
}

/* IDs */
#Exclusive-Title {
  background-color: purple;
  color: yellow;
  padding: 10px;
  font-size: 40px;
}

/* Ordem das Regras */
h2 {
 border-bottom: 2px solid red;   
}

.titulo {
 border-bottom: 3px solid blue;   
}

#algum-título {
 border-bottom: 4px solid green;
}

/* Nome de Cores */
.color-name {
    color: rgb(214, 94, 230);
}

/* Hex */
.hex {
    color: #D65EE6;
}

.hex-2 {
    color: #d77faa;
}

/* Aprofundando em hex */
.simple-hex {
    color: #333;
}

.simple-hex-2 {
    color: #abc;
}

/* RGB */
.rgb {
    color: rgb(0, 0, 0);
}

.mixed-rgb {
    color: rgb(255, 0, 0);
}

.rgba {
    color: rgba(255, 0, 0, 0.2);
}

.mixed-rgba {
    color: rgba(200, 0, 0, 0.5)
}

