/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color:green
}

/* Comentário 1 */
/* Comentário 2 */
/* Comentário 3 */

/* Classes */
.paragraph {
    background-color: #000;
    color:aqua;
    padding: 5px;
}

/* IDs */
#Exclusive-Title {
  background-color: purple;
  color: yellow;
  padding: 10px;
  font-size: 40px;
}

/* Ordem das Regras */
h2 {
 border-bottom: 2px solid red;   
}

.titulo {
 border-bottom: 3px solid blue;   
}

#algum-título {
 border-bottom: 4px solid green;
}

/* Nome de Cores */
.color-name {
    color: rgb(214, 94, 230);
}

/* Hex */
.hex {
    color: #D65EE6;
}

.hex-2 {
    color: #d77faa;
}

/* Aprofundando em hex */
.simple-hex {
    color: #333;
}

.simple-hex-2 {
    color: #abc;
}

/* RGB */
.rgb {
    color: rgb(0, 0, 0);
}

.mixed-rgb {
    color: rgb(255, 0, 0);
}

.rgba {
    color: rgba(255, 0, 0, 0.2);
}

.mixed-rgba {
    color: rgba(200, 0, 0, 0.5)
}

.hsl {
    color: hsl(200, 0%, 50%)
}    

.mixed-hsl {
    color: hsl(100,59%,40%)
}

/* 17 - Background-color */
.bg {
    background-color: lightblue;
    color: white
}

.bg-2 {
    background-color: #d77faa;
    color: rgb(65, 151, 250);
}

/* 18 - Background Opacity */
.opacity-bg  {
    color: rgb(136, 252, 60);
    background-color: rgb(137, 137, 255);
    opacity: 0.6;
}

.opacity-bg2 {
    background-color:rgb(119, 248, 248);
    color: #000000;
    opacity: 0.2;
}

/* RGBA com Opacidade */
.rgba-opacity {
    background-color: rgba(255, 0, 0, 0.5);
    color: #7c1212;
   
}

/* 20 - Bg Image */
.bg-image {
    background-image: url("../img/nature.jpg");
    padding: 10px;
    color: #fff;
}

/* 21 - Centralizando Bg Image  */
.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url(../img/bridge.jpg);
}

/* Height e Width */
.height-width {
    height: 200px;
    width: 100px;
    background-color: lightcoral;
}

.height-width-2 {
    height: 300px;
    background-color: #333;
}